.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-highlight-2);
  background-image: url("../images/Mandala-transparent.png");
  background-size: cover;
  background-position: center;
  
  background-repeat: none;  padding: 20px 0 0 0;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.footer-bottom {
  color: #fff;
  padding: 10px;
  border-top: 1px solid #fff;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.footer a {
  color: #fff;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 50%;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer ul {
  font-size: 13px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  color: #fff;
}

.footer-contact a {
  display: flex;
  align-items: center;
}

.footer-soins {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  color: #fff;
}

.footer-contact {
  justify-content: flex-end;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-contact-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-link-container {
  padding: 5px 0;
}

@media only screen and (min-width: 768px) {
  .footer-top {
    flex-direction: row;
  }

  .footer-info {
    flex-direction: row;
    width: 50%;
    justify-content: center;
  }
  .footer-info > * {
    width: 50%;
  }

  .footer-social {
    width: 25%;
  }

  .footer-soins {
    border-left: 1px solid #fff;
    justify-content: flex-start;
  }

  .footer-contact {
    align-items: flex-end;
  }
  .footer-contact-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .footer-logo-container {
    width: 25%;
  }
}
