:root {
  --color-highlight: #dc3a6f;
  --color-highlight-2: #a9c054;
  --color-shadow: #eaeaea;
  --color-text: #fff;
  --color-background: #000;
  --mobile-text: 15px;
  --desktop-text: 15px;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

html {
  font-size: calc(60% + 0.8vmin);
}

main {
  max-width: 40rem;
  margin: 0 auto;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1rem;
  color: var(--color-highlight-2);
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 25px;
  color: var(--color-highlight-2);
}

ul {
  list-style: none;
  padding: 0;
  font-size: var(--mobile-text);
}

p {
  font-size: var(--mobile-text);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 30px;
  margin: 20px;
}

.flag {
  width: 25px;
  margin: 5px;
}

.opaque {
  opacity: 100%;
}

.fade {
  opacity: 50%;
}

.invisible-button {
  border: none;
  background-color: transparent;
  width: 20px;
  margin: 10px;
}

.header-placeholder {
  height: 80px;
  overflow: hidden;
}

.banner-1 {
  width: 100vw;
  height: 150px;
  background-image: url("../images/spa-deco.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-attachment: fixed;
}

.banner-2 {
  width: 100vw;
  height: 200px;
  background-image: url("../images/banner-mountain.jpg");
  background-size: cover;
  margin: 50px 0;
  background-attachment: fixed;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 20px 20px;
}

.center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 20px 20px;
}

.button {
  background-color: var(--color-highlight);
  border: none;
  color: #fff;
  padding: 20px;
  margin-top: 50px;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: var(--mobile-text);
}

.hidden-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  h1,
  h2 {
    padding-left: 0;
  }
  p {
    font-size: var(--desktop-text);
  }

  ul {
    font-size: var(--desktop-text);
  }

  .button-container {
    padding: 0 50px 50px;
  }
  .button {
    font-size: var(--desktop-text);
  }

  .hidden-desktop {
    display: flex;
  }

  .hidden-mobile {
    display: none;
  }

  .banner-1 {
    height: 400px;
  }
}
