.header {
  position: fixed;
  top: 10px;
  background-color: transparent;
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  transition: background-color 500ms ease;
  z-index: 900;
}

.lower-nav-fixed-mobile {
  top: 40px;
}

.header-contact {
  background-color: var(--color-highlight);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 999;
  overflow: hidden;
  top: 0;
}

.header-contact p {
  margin: 0;
  border-left: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
}

.header-contact a {
  padding-right: 100px;
  color: #000;
  text-decoration: none;
  border-left: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
}

.header-contact a:hover {
  text-decoration: underline;
}

.header-background {
  background-color: #fff;
  transition: background-color 500ms ease;
}

.header-logo {
  width: 80px;
  height: 80px;
  margin: 10px 0;
  padding: 10px 10px 10px 50px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.links {
  display: flex;
  overflow: hidden;
}

.links li {
  display: flex;
}

.logo-link {
  text-align: right;
  width: 150px;
}

.nav-link:hover {
  border-bottom: 1px solid var(--color-highlight);
}

.header-background a {
  color: #000;
}

.active {
  color: var(--color-highlight);
}

.header-background .active {
  color: var(--color-highlight);
}

.header ul {
  list-style-type: none;
  padding-right: 50px;
}

.nav-bar {
  height: 0;
}

.set-language {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 40px;
  }

  .header-contact {
    padding: 0 50px;
  }
  .header-contact a {
    border-right: 1px solid #fff;
  }
}

@media only screen and (min-width: 1200px) {
  .header ul {
    padding-right: 200px;
  }

  .header-logo {
    padding: 10px 10px 10px 200px;
  }
  .header-contact {
    padding: 0 200px;
  }
}

@media only screen and (min-width: 1400px) {
  .header-logo {
    padding: 10px 10px 10px 200px;
  }
  .header-contact {
    padding: 0 200px;
  }
}
