.massages-hero {
  min-height: 60vh;
  background-image: url("../images/massage.jpeg");
  background-size: cover;
  background-repeat: none;
  width: 100vw;
}

.massages-explanation {
  display: flex;
  flex-direction: column;
}

.product-image-pregnant {
  background-image: url("../images/pregnant.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.product-image-children {
  background-image: url("../images/child-massage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.massages h1 {
  padding: 0 0 0 20px;
}

@media only screen and (min-width: 768px) {
  .massages {
    padding: 100px 50px;
  }
  .massages h1 {
    padding: 0;
  }

  .massages-explanation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .massages-explanation > * {
    width: 30vw;
    min-height: 30vw;
    margin: 80px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .massages {
    padding: 100px 200px;
  }
}
