.massages-hero {
  min-height: 60vh;
  background-image: url("../images/massage.jpg");
  background-size: cover;
  background-repeat: none;
  width: 100vw;
}

.massages-explanation {
  display: flex;
  flex-direction: column;
}

.massages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.massage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.massage-reverse {
  flex-direction: column-reverse;
}

.product-image-general {
  background-image: url("../images/oil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.product-image-pregnant {
  background-image: url("../images/pregnant.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
}

.product-image-children {
  background-image: url("../images/child-massage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.massages-title {
  padding: 0 0 0 20px;
}

@media only screen and (min-width: 768px) {
  .massages-title {
    padding: 0 50px;
  }

  .massages-explanation {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  #product-image-4,
  #product-image-5 {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .massage {
    flex-direction: row;
    align-items: stretch;
  }

  .massages-title {
    padding: 0 200px;
  }
}
