.price-list-page {
  overflow: hidden;
}

.price-list-hero {
  min-height: 60vh;
  background-image: url("../images/spa-deco.jpeg");
  background-size: cover;
  background-repeat: none;
  width: 100vw;
}

.price-list-menu {
  background-color: var(--color-highlight-2);
  padding: 10px 20px;
  width: 100%;
  overflow: hidden;
}

.fixed-price-list-menu {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 999;
}

#massages,
#soins-jambes,
#soins-visage {
  position: relative;
  top: -200px;
}

.price-list-menu span {
  color: #fff;
  padding: 0 10px 0 0;
}

.price-list-menu a {
  color: #fff;
  padding: 0 10px 0 0;
  text-decoration: none;
}

.price-list h1 {
  padding: 0 0 0 20px;
}

.price-list-part {
  width: fit-content;
  height: fit-content;
  padding: 50px;
  line-height: 50px;
  margin: 10px;
}

.price-list-part {
  border: 1px solid lightgray;
}

.price-list-image {
  width: 45%;
  height: 30%;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .price-list {
    padding: 100px 50px;
  }

  .price-list-menu {
    padding: 10px 50px;
  }

  .fixed-price-list-menu {
    position: fixed;
    top: 155px;
    left: 0;
  }

  .price-list h1 {
    padding: 0;
  }
  .price-list ul {
    margin: auto;
  }

  .price-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
  }

  .price-list-container > * {
    max-width: 40%;
  }

  .price-list-container-inverse {
    flex-direction: row-reverse;
  }

  .price-list-images {
    width: 40vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
  }
}

@media only screen and (min-width: 1200px) {
  .price-list {
    padding: 100px 200px;
  }
  .price-list-menu {
    padding: 10px 200px;
  }
}
