.products-container > * {
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-reverse {
  flex-direction: column-reverse;
}

.products-container {
  display: flex;
  flex-direction: column;
}

.product-description {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.product-text {
  height: fit-content;
  width: 90vw;
}

.product-image {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 90vw;
  height: 90vw;
}

.product-image-1 {
  background-image: url("../images/massage.jpg");
  display: flex;
}
.product-image-2 {
  background-image: url("../images/soin-jambes.jpg");
  display: flex;
}
.product-image-3 {
  background-image: url("../images/soin-visage-femme.jpg");
  display: flex;
}

.product-description h2,
.product-description p,
.product-description ul {
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .products-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  .product {
    flex-direction: row;
    align-items: stretch;
  }

  .product-text {
    width: 40vw;
    min-height: 40vw;
  }

  .product-image {
    min-width: 40vw;
    height: auto;
  }

  .product-description h2,
  .product-description p,
  .product-description ul {
    padding: 20px 50px 10px 50px;
  }
}
