.soin-visage {
  overflow: hidden;
}

.soin-visage-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  display: flex;
}

.soin-visage-hero {
  min-height: 60vh;
  background-image: url("../images/hero-soin-visage.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
}

.soin-visage-femme {
  background-image: url("../images/soin-visage-femme.jpg");
}

.soin-visage-homme {
  background-image: url("../images/soin-visage-homme.jpg");
}

.soin-yeux {
  background-image: url("../images/soin-jeux.jpg");
}

.soin-barbier {
  background-image: url("../images/soin-barbier.jpg");
}

#femme,
#homme {
  position: relative;
  top: -200px;
}

.soin-visage h1,
.soin-visage h2 {
  padding: 0 0 0 20px;
}

.soin-visage-card {
  padding: 50px;
  margin: 50px 10px;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .soin-visage {
    padding: 100px 50px;
  }
  .soin-visage h1,
  .soin-visage h2 {
    padding: 0;
  }
  .soin-visage-card {
    margin: 50px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .soin-visage {
    padding: 100px 200px;
  }
}
